body{
    background: linear-gradient(80deg, #61075c, #110286);
}

.section-login{
    display: flex !important;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.btn-primary{
    background: linear-gradient(120deg, #61075c, #110286) !important;
    border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.075), 0 0 10px rgba(0, 0, 0, 0.075), 0 0 20px rgba(0, 0, 0, 0.075);
}