{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.getName }}
{% endblock %}

{% block body %}
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-lg-3 col-md-3 col-sm-12 d-flex flex-row" >
                <div class="d-flex flex-column leftmenu w-100" >
                    
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 d-flex flex-row" >
                <div>
                    
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
